 <div class="col-five md-full end s-footer__subscribe">

    <h4>Our Newsletter</h4>

    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

    <div class="subscribe-form">
        <form id="mc-form" class="group" novalidate="true">
            {% csrf_token %}
            {{ contact_form }}
{#            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">#}

            <input type="submit" name="subscribe" value="Send">
{##}
{#            <label for="mc-email" class="subscribe-message"></label>#}

        </form>
    </div>

</div> <!-- end s-footer__subscribe -->