{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block auth %}
    <section class="s-content s-content--narrow s-content--no-padding-bottom">
         <article class="row format-standard">


            <div id="comments" class="row">
                <div class="col-full">

                    <h2 class="s-content__header col-full">{% trans "Sign Up" %}</h2>

                    <p class="s-content__header col-full">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                      {% csrf_token %}
                      {{ form.as_p }}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>


             </div>
            </div>

        </article>

    </section> <!-- s-content -->
{% endblock %}
