{% extends 'base.html' %}
{% load post_tags %}
{% include 'include/header.html' %}

{% block content %}

    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">
        {% include 'include/header.html' %}


        <div class="pageheader-content row">
            <div class="col-full">

                 {% block firs_posts %}

                 {% endblock firs_posts %}

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->

    </section> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->


        {% block posts %}

        {% endblock posts %}



    <!-- s-extra
    ================================================== -->


    <!-- s-footer
    ================================================== -->


 <!-- s-extra
    ================================================== -->
{% get_popular_posts %}

{% endblock content %}

