{% extends 'hanabis_blog/base.html' %}
{% load static %}
{% block detail %}
   <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                   {% block post_title %}{{ post.title }}{% endblock post_title %}
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">{{ post.date_pub }}</li>
                    <li class="cat">
                        In
                        {% for tag in post.tags.all %}
                        <a href="#0">{{ tag }}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="{{post.image.url}}"
                         srcset="{{post.image.url}} 1000w,
                             .{{post.image.url}} 1000w,
                             {{post.image.url}} 500w"
                         sizes="(max-width: 2000px) 100vw, 1000px" alt="" >
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">

                <p class="lead">{{ post.body|safe }}</p>
                

                <p class="s-content__tags">
                    <span>Post Tags</span>

                    <span class="s-content__tag-list">
                       {% for tag in post.tags.all %}
                        <a href="#0">{{ tag.title }}</a>
                        {% endfor %}
                    </span>
                </p> <!-- end s-content__tags -->

                <div class="s-content__author">
                    {% for auth in post.auth.all %}
                    <img src="{{auth.image.url}}" alt="">

                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="#0">{{ auth.name }}</a>
                        </h4>
                    
                        </p>

                        <ul class="s-content__author-social">
                           <li><a href="#0">Facebook</a></li>
                           <li><a href="#0">Twitter</a></li>
                           <li><a href="#0">GooglePlus</a></li>
                           <li><a href="#0">Instagram</a></li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>

                <div class="s-content__pagenav">
                    <div class="s-content__nav">
                        <div class="s-content__prev">
                            <a href="#0" rel="prev">
                                <span>Previous Post</span>
                                Tips on Minimalist Design 
                            </a>
                        </div>
                        <div class="s-content__next">
                            <a href="#0" rel="next">
                                <span>Next Post</span>
                                Less Is More 
                            </a>
                        </div>
                    </div>
                </div> <!-- end s-content__pagenav -->

            </div> <!-- end s-content__main -->

        </article>


        <!-- comments
        ================================================== -->
        <div class="comments-wrap">

            <div id="comments" class="row">
                <div class="col-full">

                    <h3 class="h2">{{ post.reviews_set.all.count }} Comments</h3>

                    <!-- commentlist -->
                    <ol class="commentlist">

                        {% for review in post.get_review %}
                        <li class="thread-alt depth-1 comment">

                            <div class="comment__avatar">
                                <img width="50" height="50" class="avatar" src="../../static/images/avatars/user-04.jpg" alt="">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                <cite>{{ review.name }}</cite>

                                <div class="comment__meta">
                                    <time class="comment__time">{{ review.date_pub }}</time>
                                    <a class="reply" href="#formReview" onclick="addReview('{{ review.name }}','{{ review.id }}')">Reply</a>

                                </div>
                                </div>

                                <div class="comment__text">
                                <p>{{ review.text }}</p>
                                </div>


                            </div>

                            <ul class="children">
                                {% for rev in review.reviews_set.all %}
                                <li class="depth-2 comment">

                                    <div class="comment__avatar">
                                        <img width="50" height="50" class="avatar" src="../../static/images/avatars/user-03.jpg" alt="">
                                    </div>

                                    <div class="comment__content">

                                        <div class="comment__info">
                                            <cite>{{ rev.name }}</cite>

                                            <div class="comment__meta">
                                                <time class="comment__time">{{ rev.date_pub }}</time>
{#                                                <a class="reply" href="#formReview" onclick="addReview('{{ rev.name }}','{{ rev.id }}')">Reply</a>#}
                                            </div>
                                        </div>

                                        <div class="comment__text">
                                            <p>{{ rev.text }}</p>
                                        </div>

                                    </div>

{#                                    <ul class="children">#}
{##}
{#                                        <li class="depth-3 comment">#}
{##}
{#                                            <div class="comment__avatar">#}
{#                                                <img width="50" height="50" class="avatar" src="../../static/images/avatars/user-04.jpg" alt="">#}
{#                                            </div>#}
{##}
{#                                            <div class="comment__content">#}
{##}
{#                                                <div class="comment__info">#}
{#                                                <cite>John Doe</cite>#}
{##}
{#                                                <div class="comment__meta">#}
{#                                                    <time class="comment__time">Dec 16, 2017 @ 25:15</time>#}
{#                                                    <a class="reply" href="#0">Reply</a>#}
{#                                                </div>#}
{#                                                </div>#}
{##}
{#                                                <div class="comment__text">#}
{#                                                <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est#}
{#                                                etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>#}
{#                                                </div>#}
{##}
{#                                            </div>#}
{##}
{#                                        </li>#}
{##}
{#                                    </ul>#}

                                </li>
                                {% endfor %}
                            </ul>

                        </li> <!-- end comment level 1 -->
                        {% endfor %}

                    <div class="respond">

                        <h3 class="h2">Add Comment</h3>

                        <form name="contactForm" id="formReview" method="post" action="{% url 'add_review' post.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="parent" id="contactparent" value="">
                            <fieldset>

                                <div class="form-field">
                                        <input name="name" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                                </div>

                                <div class="form-field">
                                        <input name="email" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                                </div>

                                <div class="message form-field">

                                    <textarea name="text" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                                </div>

                                <button type="submit" class="submit btn--primary btn--large full-width">Submit</button>

                            </fieldset>
                        </form> <!-- end form -->

                    </div> <!-- end respond -->

                </div> <!-- end col-full -->

            </div> <!-- end row comments -->
        </div> <!-- end comments-wrap -->

    </section> <!-- s-content -->
  <script>
     function addReview(name, id) {
         console.log(id,name)
         document.getElementById("contactparent").value = id;
         document.getElementById("contactparent").innerText = `${name}, `

     }
  </script>

{% endblock detail %}

