

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="col-four md-six tab-full about">
    <h3>About Hanabis</h3>

    <p>
        We are open minded community of Developers, CyberSecurity and Cloud engineers and we believe in WORLDS REVOLUTION :)) We are waiting for u
    </p>

    <ul class="about__social">
        <li>
            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </li>
    </ul> <!-- end header__social -->
</div> <!-- end about -->

