{% load post_tags %}
{% load static %}
    <header class="header">
        <div class="header__content row">

            <div class="header__logo">
                <a href="{% url 'home' %}" title="Home">
                    <img src="{% static 'images/4UTz7UdeHx.svg'%}" alt="Homepage">
                </a>
            </div> <!-- end header__logo -->

            <ul class="header__social">
                <li>
                    <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </li>
            </ul> <!-- end header__social -->

            <a class="header__search-trigger" href="#0"></a>

            <div class="header__search">

                <form role="search" method="get" class="header__search-form" action="{% url 'search' %}">
                    {% csrf_token %}
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="{{page.get_absolute_url}}" title="Close Search" class="header__overlay-close">Close</a>

            </div>  <!-- end header__search -->


            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Site Navigation</h2>

                <ul class="header__nav">
                    <li><a href="{% url 'home' %}" title="">Home</a></li>

                    <li class="has-children current">
                        <a href="#0" title="">Blog</a>
                        <ul class="sub-menu">
                        <li><a href="../../philosophy-colorlib/philosophy-colorlib/single-video.html">Video Post</a></li>
                        <li><a href="../../philosophy-colorlib/philosophy-colorlib/single-audio.html">Audio Post</a></li>
                        <li><a href="../../philosophy-colorlib/philosophy-colorlib/single-gallery.html">Gallery Post</a></li>
                        <li><a href="">Standard Post</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
                            {% get_tags as tags %}
                            {% for tag in tags %}

                        <li><a href="../../philosophy-colorlib/philosophy-colorlib/category.html">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'about' %} " title="">About</a></li>
                    <li><a href="{% url 'contact' %}" title="">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}" title="">Log out&nbsp;&nbsp;</a></li>
                            <span>{{ user.username }}</span>
                    {% else %}
                        <li><a href="{% url 'account_login' %}" title="">Sign in</a></li>
                        <li><a href="{% url 'account_signup' %}" title="">Registration</a></li>
                    {% endif %}
                </ul> <!-- end header__nav -->

                <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

        </div> <!-- header-content -->
    </header> <!-- header -->

